{{define "admin_iso"}}
  {{template "admin_base" .}}
{{end}}

{{define "admin_iso_section"}}
  <div class="container mt-4">
    <div class="content mb-5">
        <h1 class="title is-4"><span class="icon"><i class="fas fa-compact-disc"></i></span>&nbsp;{{index .t "Admin.ISO.Title"}}</h1>
        <p class="subtitle is-6 has-text-grey">{{index .t "Admin.ISO.Description"}}</p>
    </div>

    {{if .ISOsList}}
    <div class="table-container">
      <table class="table is-fullwidth is-striped is-hoverable is-narrow">
        <thead>
          <tr>
            <th><span class="icon is-small"><i class="fas fa-compact-disc"></i></span>&nbsp;ISO</th>
            <th>{{index $.t "Admin.ISO.Header.Storage"}}</th>
            <th>{{index $.t "Admin.ISO.Header.Size"}}</th>
            <th class="has-text-right">{{index $.t "Common.Actions"}}</th>
          </tr>
        </thead>
        <tbody>
          {{range .ISOsList}}
          {{$name := .VolID}}
          <tr>
            <td>{{$name | basename}}</td>
            <td>{{.Storage}}</td>
            <td>{{.Size | humanBytes}}</td>
            <td class="has-text-right">
              <form method="POST" action="/admin/iso/toggle" class="is-inline">
                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                <input type="hidden" name="volid" value="{{$name}}">
                <input type="hidden" name="action" value="{{if index $.EnabledISOs $name}}disable{{else}}enable{{end}}">
                <button type="submit" class="button is-small {{if index $.EnabledISOs $name}}is-success{{else}}is-light{{end}}"
                  aria-label="{{if index $.EnabledISOs $name}}{{index $.t "Common.Disable"}}{{else}}{{index $.t "Common.Enable"}}{{end}} {{$name}}"
                  title="{{if index $.EnabledISOs $name}}{{index $.t "Common.Disable"}}{{else}}{{index $.t "Common.Enable"}}{{end}} {{$name}}">
                  <span class="icon is-small">
                    {{if index $.EnabledISOs $name}}
                      <i class="fas fa-toggle-on"></i>
                    {{else}}
                      <i class="fas fa-toggle-off"></i>
                    {{end}}
                  </span>
                  <span>{{if index $.EnabledISOs $name}}{{index $.t "Common.Disable"}}{{else}}{{index $.t "Common.Enable"}}{{end}}</span>
                </button>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    {{else}}
    <div class="notification is-warning">
      {{index .t "Admin.ISO.NoISOs"}}
    </div>
    {{end}}
  </div>
{{end}}

