{{define "admin_iso"}}
  {{template "admin_base" .}}
{{end}}

{{define "admin_iso_section"}}
  <div class="container mt-4">
    <div class="card admin-card">
        <header class="card-header is-align-items-center">
            <p class="card-header-title">
                <span class="icon"><i class="fas fa-compact-disc"></i></span>&nbsp;{{index .t "Admin.ISO.Title"}}
            </p>
        </header>
        <div class="card-content">
        <!-- Description integrated into card -->
        <p class="help mb-2">
            <span class="icon is-small has-text-grey-light mr-1"><i class="fas fa-info-circle"></i></span>
            {{index .t "Admin.ISO.Description"}}
        </p>
        <hr class="my-3">
        {{if .ISOsList}}
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable is-narrow">
                <thead>
                    <tr>
                        <th scope="col"><span class="icon-text"><span class="icon"><i class="fas fa-toggle-on"></i></span> <span>{{index .t "Admin.ISO.Header.Enabled"}}</span></span></th>
                        <th scope="col"><span class="icon-text"><span class="icon"><i class="fas fa-server"></i></span> <span>{{index .t "Admin.ISO.Header.Storage"}}</span></span></th>
                        <th scope="col"><span class="icon-text"><span class="icon"><i class="fas fa-compact-disc"></i></span> <span>{{index .t "Admin.ISO.Header.Name"}}</span></span></th>
                        <th scope="col"><span class="icon-text"><span class="icon"><i class="fas fa-database"></i></span> <span>{{index .t "Admin.ISO.Header.Size"}}</span></span></th>
                    </tr>
                </thead>
                <tbody>
                    {{range $i, $iso := .ISOsList}}
                    <tr>
                        <td>
                            <form method="POST" action="/admin/iso/toggle" class="is-inline">
                                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                <input type="hidden" name="volid" value="{{$iso.VolID}}">
                                <input type="hidden" name="action" value="{{if $iso.Enabled}}disable{{else}}enable{{end}}">
                                <button type="submit"
                                        class="button is-small {{if $iso.Enabled}}is-success{{else}}is-light{{end}}"
                                        aria-label="{{if $iso.Enabled}}{{index $.t "Common.Disable"}}{{else}}{{index $.t "Common.Enable"}}{{end}} {{$iso.VolID}}"
                                        title="{{if $iso.Enabled}}{{index $.t "Common.Disable"}}{{else}}{{index $.t "Common.Enable"}}{{end}} {{$iso.VolID}}">
                                    <span class="icon is-small">
                                        <i class="fas {{if $iso.Enabled}}fa-toggle-on{{else}}fa-toggle-off{{end}}"></i>
                                    </span>
                                </button>
                            </form>
                        </td>
                        <td>{{$iso.Storage}}</td>
                        <td>{{$iso.VolID}}</td>
                        <td>{{formatBytes $iso.Size}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        {{else}}
        <div class="notification is-warning">{{index .t "Admin.ISO.NoISOs"}}</div>
        {{end}}
        </div>
    </div>
  </div>
{{end}}
