{{define "admin"}}
{{if .Content}}
    {{.Content}}
{{else}}
    <section class="section">
        <div class="container">
            <h1 class="title">{{index .t "Navbar.Admin"}}</h1>
            <a class="button is-link mb-4" href="/docs/admin?lang={{.Lang}}">{{index .t "Navbar.AdminDocs"}}</a>
            {{template "nodes.html" .}}
            {{template "tags.html" .}}
            {{template "storage.html" .}}
            {{template "iso.html" .}}
            {{template "vmbr.html" .}}
            {{template "resource_limits.html" .}}
        </div>
    </section>
{{end}}
{{end}}