{{define "iso"}}
<div class="container">
    <h2 class="title is-4">{{index .t "Admin.ISO.Title"}}</h2>

    <div class="notification is-light">
        {{index .t "Admin.ISO.Description"}}
    </div>

    <div class="box">
        {{if .ISOsList}}
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th><span class="icon-text"><span class="icon"><i class="fas fa-toggle-on"></i></span> <span>{{index .t "Admin.ISO.Header.Enabled"}}</span></span></th>
                        <th><span class="icon-text"><span class="icon"><i class="fas fa-server"></i></span> <span>{{index .t "Admin.ISO.Header.Storage"}}</span></span></th>
                        <th><span class="icon-text"><span class="icon"><i class="fas fa-compact-disc"></i></span> <span>{{index .t "Admin.ISO.Header.Name"}}</span></span></th>
                        <th><span class="icon-text"><span class="icon"><i class="fas fa-database"></i></span> <span>{{index .t "Admin.ISO.Header.Size"}}</span></span></th>
                    </tr>
                </thead>
                <tbody>
                    {{range $i, $iso := .ISOsList}}
                    <tr>
                        <td>
                            <form method="POST" action="/admin/iso/toggle" style="display:inline">
                                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                <input type="hidden" name="volid" value="{{$iso.VolID}}">
                                <input type="hidden" name="action" value="{{if $iso.Enabled}}disable{{else}}enable{{end}}">
                                <button type="submit" class="button is-small {{if $iso.Enabled}}is-success{{else}}is-light{{end}}">
                                    {{if $iso.Enabled}}
                                        {{index $.t "Common.Disable"}}
                                    {{else}}
                                        {{index $.t "Common.Enable"}}
                                    {{end}}
                                </button>
                            </form>
                        </td>
                        <td>{{$iso.Storage}}</td>
                        <td>{{$iso.VolID}}</td>
                        <td>{{formatBytes $iso.Size}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        {{else}}
        <div class="notification is-warning">{{index .t "Admin.ISO.NoISOs"}}</div>
        {{end}}
    </div>
</div>
{{end}}
