{{define "navbar"}}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/?lang={{.Lang}}">
                <span class="has-text-weight-bold is-size-4" style="color: #FF8800">{{index .t "UI.Header"}}</span>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/?lang={{.Lang}}">
                    <span>{{index .t "Navbar.Home"}}</span>
                </a>
                <a class="navbar-item" href="/create-vm">
                    <span>{{ index .t "Navbar.CreateVM" }}</span>
                </a>
                <a class="navbar-item" href="/search">
                    <span>{{ index .t "Navbar.SearchVM" }}</span>
                </a>
                <a class="navbar-item" href="/docs">
                    <span>{{ index .t "Navbar.Documentation" }}</span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{if .IsAuthenticated}}
                        <a class="button is-orange" href="/admin">
                            <span>{{ index .t "Navbar.Admin" }}</span>
                        </a>
                        <a class="button is-light" href="/logout">
                            <span>{{ index .t "Navbar.Logout" }}</span>
                        </a>
                        {{else}}
                        <a class="button is-orange" href="/login">
                            <span>{{ index .t "Navbar.Login" }}</span>
                        </a>
                        {{end}}

                        <div class="buttons has-addons">
                            <a href="?lang=fr" class="button is-small {{if eq .Lang "fr"}}is-orange is-selected{{else}}is-light{{end}}">
                                FR
                            </a>
                            <a href="?lang=en" class="button is-small {{if eq .Lang "en"}}is-orange is-selected{{else}}is-light{{end}}">
                                EN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}