{{define "nodes"}}
<div class="container">
    <h2 class="title is-4">{{index .t "Nodes.Title"}}</h2>

    {{if not .ProxmoxConnected}}
    <div class="notification is-warning">
        <span class="icon-text">
            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
            <span>{{index .t "Proxmox.NotConnected"}} {{index .t "Proxmox.CheckConnection"}}</span>
        </span>
    </div>
    {{else if .Error}}
        <div class="notification is-danger">
            {{.Error}}
        </div>
    {{else if .NodeDetails}}
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>{{index .t "Nodes.Header.Node"}}</th>
                    <th>{{index .t "Nodes.Header.Status"}}</th>
                    <th>{{index .t "Nodes.Header.CPUUsage"}}</th>
                    <th>{{index .t "Nodes.Header.MemoryUsage"}}</th>
                    <th>{{index .t "Nodes.Header.DiskUsage"}}</th>
                </tr>
            </thead>
            <tbody>
                {{range .NodeDetails}}
                <tr>
                    <td>{{.Node}}</td>
                    <td>
                        {{if $.ProxmoxConnected}}
                          <span class="tag is-success">{{index $.t "Nodes.StatusOnline"}}</span>
                        {{else}}
                          <span class="tag is-danger">{{index $.t "Nodes.StatusOffline"}}</span>
                        {{end}}
                    </td>
                    <td>
                        {{$cpu_percent := mul .CPU 100.0}}
                        <progress class="progress {{if lt $cpu_percent 70.0}}is-primary{{else if lt $cpu_percent 90.0}}is-warning{{else}}is-danger{{end}}" value="{{printf "%.0f" $cpu_percent}}" max="100"></progress>
                        {{printf "%.0f%%" $cpu_percent}} ({{printf "%.2f" .CPU}} / {{.MaxCPU}})
                    </td>
                    <td>
                        {{$mem_percent := mul (div .Memory .MaxMemory) 100.0}}
                        <progress class="progress {{if lt $mem_percent 70.0}}is-primary{{else if lt $mem_percent 90.0}}is-warning{{else}}is-danger{{end}}" value="{{printf "%.0f" $mem_percent}}" max="100"></progress>
                        {{printf "%.0f%%" $mem_percent}} ({{.Memory | humanBytes}} / {{.MaxMemory | humanBytes}})
                    </td>
                    <td>
                        {{$disk_percent := mul (div .Disk .MaxDisk) 100.0}}
                        <progress class="progress {{if lt $disk_percent 70.0}}is-primary{{else if lt $disk_percent 90.0}}is-warning{{else}}is-danger{{end}}" value="{{printf "%.0f" $disk_percent}}" max="100"></progress>
                        {{printf "%.0f%%" $disk_percent}} ({{.Disk | humanBytes}} / {{.MaxDisk | humanBytes}})
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    {{else}}
        <div class="notification">
            {{index .t "Search.NoResults"}}
        </div>
    {{end}}
</div>
{{end}}