{{define "resource_limits"}}
<div class="container">
    <div class="title is-4">
        <h2 class="title is-4">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-sliders-h"></i>
                </span>
                <span>{{index .t "Admin.Limits.Title"}}</span>
            </span>
        </h2>
    </div>

    <div class="notification is-light">
        {{index .t "Admin.Limits.Description"}}
    </div>

    <!-- VM Limits -->
    <div id="vm-limits" class="mb-4">
        <form class="limits-form" data-entity-id="vm" action="/api/limits" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="hidden" name="entityId" value="vm">
            <div class="card">
                <div class="card-content">
                    <div class="columns">
                        <!-- Sockets -->
                        <div class="column is-6">
                            <div class="box">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <h3 class="title is-6">
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fas fa-microchip"></i>
                                                </span>
                                                <span>{{index .t "Admin.Limits.Sockets"}}</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Min"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded">
                                                <input class="input is-info" type="number" name="sockets-min" id="sockets-min-vm" 
                                                       value="{{if .Settings.Limits.vm.sockets}}{{.Settings.Limits.vm.sockets.min}}{{else}}1{{end}}" 
                                                       min="1" 
                                                       max="{{if .Settings.Limits.vm.sockets}}{{.Settings.Limits.vm.sockets.max}}{{else}}16{{end}}" 
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Max"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded">
                                                <input class="input is-primary" type="number" name="sockets-max" id="sockets-max-vm" 
                                                       value="{{if .Settings.Limits.vm.sockets}}{{.Settings.Limits.vm.sockets.max}}{{else}}2{{end}}" 
                                                       min="1" max="16" step="1"
                                                       data-validate-min="sockets-min-vm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cores -->
                        <div class="column is-6">
                            <div class="box">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <h3 class="title is-6">
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fas fa-microchip"></i>
                                                </span>
                                                <span>{{index .t "Admin.Limits.Cores"}}</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Min"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded">
                                                <input class="input" type="number" name="cores-min" 
                                                       id="cores-min-vm" 
                                                       value="{{if .Settings.Limits.vm.cores}}{{.Settings.Limits.vm.cores.min}}{{else}}1{{end}}" 
                                                       min="1" max="{{if .Settings.Limits.vm.cores}}{{.Settings.Limits.vm.cores.max}}{{else}}32{{end}}" 
                                                       readonly>
                                            </div>
                                            <p class="help">{{index . "Admin.Limits.CoresMinHelp"}}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Max"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded">
                                                <input class="input" type="number" name="cores-max" 
                                                       id="cores-max-vm" 
                                                       value="{{if .Settings.Limits.vm.cores}}{{.Settings.Limits.vm.cores.max}}{{else}}32{{end}}" 
                                                       min="1" max="128" step="1"
                                                       data-validate-min="cores-min-vm">
                                            </div>
                                            <p class="help">{{index . "Admin.Limits.CoresMaxHelp"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Second row for RAM and Disk -->
                    <div class="columns">
                        <!-- RAM -->
                        <div class="column is-6">
                            <div class="box">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <h3 class="title is-6">
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fas fa-memory"></i>
                                                </span>
                                                <span>{{index .t "Admin.Limits.RAM"}}</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Min"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control has-icons-right is-expanded">
                                                <input class="input" type="number" name="ram-min" 
                                                       id="ram-min-vm" 
                                                       value="{{if .Settings.Limits.vm.ram}}{{.Settings.Limits.vm.ram.min}}{{else}}1{{end}}" 
                                                       min="1" max="{{if .Settings.Limits.vm.ram}}{{.Settings.Limits.vm.ram.max}}{{else}}64{{end}}" 
                                                       readonly>
                                                <span class="icon is-small is-right">Go</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Max"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control has-icons-right is-expanded">
                                                <input class="input" type="number" name="ram-max" 
                                                       id="ram-max-vm" 
                                                       value="{{if .Settings.Limits.vm.ram}}{{.Settings.Limits.vm.ram.max}}{{else}}64{{end}}" 
                                                       min="1" max="512" step="1"
                                                       data-validate-min="ram-min-vm">
                                                <span class="icon is-small is-right">Go</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Disk -->
                        <div class="column is-6">
                            <div class="box">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <h3 class="title is-6">
                                            <span class="icon-text">
                                                <span class="icon">
                                                    <i class="fas fa-hdd"></i>
                                                </span>
                                                <span>{{index .t "Admin.Limits.Disk"}}</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Min"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control has-icons-right is-expanded">
                                                <input class="input" type="number" name="disk-min" 
                                                       id="disk-min-vm" 
                                                       value="{{if .Settings.Limits.vm.disk}}{{.Settings.Limits.vm.disk.min}}{{else}}10{{end}}" 
                                                       min="1" max="{{if .Settings.Limits.vm.disk}}{{.Settings.Limits.vm.disk.max}}{{else}}500{{end}}" 
                                                       readonly>
                                                <span class="icon is-small is-right">Go</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{index .t "Common.Max"}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control has-icons-right is-expanded">
                                                <input class="input" type="number" name="disk-max" 
                                                       id="disk-max-vm" 
                                                       value="{{if .Settings.Limits.vm.disk}}{{.Settings.Limits.vm.disk.max}}{{else}}500{{end}}" 
                                                       min="1" max="2048" step="1"
                                                       data-validate-min="disk-min-vm">
                                                <span class="icon is-small is-right">Go</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Form Actions -->
                    <div class="columns">
                        <div class="column is-12">
                            <div class="field is-grouped is-grouped-right">
                                <div class="control">
                                    <button type="button" class="button is-light is-outlined mr-2 reset-btn" data-entity-id="vm" title='{{index . "Common.Reset"}}'>
                                        <span>{{index . "Common.Reset"}}</span>
                                    </button>
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary">
                                        <span class="icon">
                                            <i class="fas fa-save"></i>
                                        </span>
                                        <span>{{index .t "Common.Save"}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
 </div>
{{end}}