{{define "tags"}}
<h2 class="title is-4">{{index .t "Admin.Tags.Title"}}</h2>
<div class="notification is-light">{{index .t "Admin.Tags.Description"}}</div>

<div id="tags-list" class="mb-4">
  {{range .Tags}}
    {{$isDefault := eq (lower .) "pvmss"}}
    {{if $isDefault}}
      <div class="tags has-addons mb-2 mr-2" style="display: inline-flex;">
        <span class="tag is-info is-medium">{{.}}</span>
        <span class="tag is-info is-medium">
          <span class="icon is-small">
            <i class="fas fa-lock"></i>
          </span>
        </span>
      </div>
    {{else}}
      <div class="tags has-addons mb-2 mr-2" style="display: inline-flex;" hx-target="this" hx-swap="outerHTML">
        <span class="tag is-info is-medium">{{.}}</span>
        <a class="tag is-delete is-medium"
           hx-delete="/api/tags/{{. | urlquery}}"
           hx-headers='{"X-CSRF-Token": "{{$.CSRFToken}}"}'>
        </a>
      </div>
    {{end}}
  {{end}}
</div>

<div class="field has-addons">
  <div class="control">
    <input id="tag-input" class="input" type="text" placeholder='{{index .t "Admin.Tags.Placeholder"}}' hx-post="/api/tags" hx-trigger="keyup[key=='Enter']" hx-target="#tags-list" hx-swap="beforeend" hx-headers='{"X-CSRF-Token": "{{.CSRFToken}}"}' name="tag" />
  </div>
  <div class="control">
    <button class="button is-primary" hx-post="/api/tags" hx-include="#tag-input" hx-target="#tags-list" hx-swap="beforeend" hx-headers='{"X-CSRF-Token": "{{.CSRFToken}}"}'>
      {{index .t "Common.Add"}}
    </button>
  </div>
</div>
{{end}}
