## Proxmox VE settings
PROXMOX_API_TOKEN_NAME=tokenname@pve!test
PROXMOX_API_TOKEN_VALUE=change_me_with_the_correct_value
PROXMOX_PASSWORD="your-password"
PROXMOX_PORT=8006
PROXMOX_URL="https://your-proxmox-host:8006/api2/json"
PROXMOX_USER="your@pam"
PROXMOX_VERIFY_SSL=false
PROXMOX_CONSOLE_USER="consoleuser@pve"
PROXMOX_CONSOLE_PASSWORD="your-console-password"

## PVMSS settings
ADMIN_PASSWORD_HASH=""
# escape "$" with double "$$"
# example "Mot2Pass,Pas$0lide!" => $$2y$$10$$Ppg7Wl3sNYrmxZmWgcq4reOyznt7AeqMrQucaH4HY.dBrzavhPP1e
LOG_LEVEL=DEBUG # INFO / DEBUG