## Proxmox VE settings
PVE_HOST=192.168.1.1
PVE_PORT=8006
PVE_API_TOKEN_NAME=tokenname@pve!test
PVE_API_TOKEN_VALUE=change_me_with_the_correct_value
PVE_VERIFY_SSL=false

## PVMSS settings
ADMIN_PASSWORD_HASH=
# example "Mot2Pass,Pas$0lide!" => $2y$10$Ppg7Wl3sNYrmxZmWgcq4reOyznt7AeqMrQucaH4HY.dBrzavhPP1e
