{{define "empty_state"}}
{{/*
  Empty state component - for displaying when there's no data
  Usage: {{template "empty_state" (dict "Icon" "fas fa-inbox" "Title" "No items" "Message" "Get started by creating one" "Action" (dict "Link" "/create" "Text" "Create" "Icon" "fas fa-plus"))}}
*/}}
<div class="notification is-{{or .Type "info"}} is-light" role="status">
  <div class="content has-text-centered">
    {{if .Icon}}
    <p class="is-size-5">
      <span class="icon is-large">
        <i class="{{.Icon}}"></i>
      </span>
    </p>
    {{end}}
    {{if .Title}}
    <p class="has-text-weight-semibold">{{.Title}}</p>
    {{end}}
    {{if .Message}}
    <p class="has-text-grey">{{.Message}}</p>
    {{end}}
    {{if .Action}}
    <div class="buttons is-centered mt-4">
      <a href="{{.Action.Link}}" class="button is-{{or .Action.Type "primary"}}">
        {{if .Action.Icon}}
        <span class="icon">
          <i class="{{.Action.Icon}}"></i>
        </span>
        {{end}}
        <span>{{.Action.Text}}</span>
      </a>
    </div>
    {{end}}
  </div>
</div>
{{end}}
