{{define "table_filter"}}
{{/* 
  Reusable table filter component for server-side filtering
  Usage: {{template "table_filter" (dict "Action" "/admin/tags" "FilterQuery" .FilterQuery "SortOrder" .SortOrder "Placeholder" "Filter tags..." "TotalItems" .TotalTags "FilteredItems" .FilteredTags "ItemName" "tags")}}
*/}}
<form method="GET" action="{{.Action}}" class="mb-4">
  <div class="field has-addons">
    <div class="control is-expanded has-icons-left">
      <input type="text" name="filter" class="input" value="{{.FilterQuery}}" 
             placeholder="{{or .Placeholder "Filter..."}}">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <div class="control">
      <button type="submit" class="button is-light">
        <span class="icon"><i class="fas fa-filter"></i></span>
        <span>Filter</span>
      </button>
    </div>
    {{if .FilterQuery}}
    <div class="control">
      <a href="{{.Action}}" class="button is-outlined">
        <span class="icon"><i class="fas fa-times"></i></span>
        <span>Clear</span>
      </a>
    </div>
    {{end}}
  </div>
  {{if .SortOrder}}
  <input type="hidden" name="sort" value="{{.SortOrder}}">
  {{end}}
  {{range .HiddenFields}}
  <input type="hidden" name="{{.Name}}" value="{{.Value}}">
  {{end}}
</form>

{{if .FilterQuery}}
{{template "notification" (dict 
  "Type" "info" 
  "Message" (printf "%d of %d %s shown (filtered by \"%s\")" .FilteredItems .TotalItems (or .ItemName "items") .FilterQuery) 
  "Icon" "fas fa-filter" 
  "Dismissible" true 
  "ExtraClasses" "mb-4" 
)}}
{{end}}
{{end}}
