package components

type ButtonType string

const (
	ButtonPrimary ButtonType = "primary"
	ButtonSuccess ButtonType = "success"
	ButtonDanger  ButtonType = "danger"
	ButtonWarning ButtonType = "warning"
	ButtonInfo    ButtonType = "info"
	ButtonLight   ButtonType = "light"
)

type ButtonSize string

const (
	ButtonSmall  ButtonSize = "small"
	ButtonMedium ButtonSize = "medium"
	ButtonLarge  ButtonSize = "large"
)

type ButtonProps struct {
	Text        string
	Icon        string
	Href        string
	Type        ButtonType
	Size        ButtonSize
	Disabled    bool
	Class       string
	ID          string
	AriaLabel   string
	IsFullwidth bool
	DataAttrs   map[string]string
}

templ Button(props ButtonProps) {
	if props.Href != "" {
		<a
			if props.ID != "" {
				id={ props.ID }
			}
			class={ "button", templ.KV("is-"+string(props.Type), props.Type != ""), templ.KV("is-"+string(props.Size), props.Size != ""), templ.KV("is-fullwidth", props.IsFullwidth), props.Class }
			href={ templ.SafeURL(props.Href) }
			if props.AriaLabel != "" {
				aria-label={ props.AriaLabel }
			}
			if props.Disabled {
				aria-disabled="true"
				tabindex="-1"
			}
		>
			if props.Icon != "" {
				<span class="icon is-small">
					<i class={ props.Icon }></i>
				</span>
			}
			<span>{ props.Text }</span>
		</a>
	} else {
		<button
			if props.ID != "" {
				id={ props.ID }
			}
			class={ "button", templ.KV("is-"+string(props.Type), props.Type != ""), templ.KV("is-"+string(props.Size), props.Size != ""), templ.KV("is-fullwidth", props.IsFullwidth), props.Class }
			disabled?={ props.Disabled }
			if props.AriaLabel != "" {
				aria-label={ props.AriaLabel }
			}
		>
			if props.Icon != "" {
				<span class="icon is-small">
					<i class={ props.Icon }></i>
				</span>
			}
			<span>{ props.Text }</span>
		</button>
	}
}
