package components

type ButtonType string

const (
	ButtonPrimary ButtonType = "primary"
	ButtonSuccess ButtonType = "success"
	ButtonDanger  ButtonType = "danger"
	ButtonWarning ButtonType = "warning"
	ButtonInfo    ButtonType = "info"
	ButtonLight   ButtonType = "light"
)

type ButtonSize string

const (
	ButtonSmall  ButtonSize = "small"
	ButtonMedium ButtonSize = "medium"
	ButtonLarge  ButtonSize = "large"
)

type ButtonProps struct {
	Text        string
	Icon        string
	Href        string
	Type        ButtonType
	Size        ButtonSize
	Disabled    bool
	Class       string
	ID          string
	AriaLabel   string
	IsFullwidth bool
	IsSubmit    bool
	IsLoading   bool
	Title       string
	DataAttrs   map[string]string
	FormAction  string
	FormMethod  string
	CSRFToken   string
	HiddenInputs map[string]string
}

templ Button(props ButtonProps) {
	if props.FormAction != "" {
		<form
			action={ templ.SafeURL(props.FormAction) }
			method={ getFormMethod(props.FormMethod) }
			class="is-inline"
		>
			if props.CSRFToken != "" {
				<input type="hidden" name="csrf_token" value={ props.CSRFToken }/>
			}
			for name, value := range props.HiddenInputs {
				<input type="hidden" name={ name } value={ value }/>
			}
			<button
				if props.ID != "" {
					id={ props.ID }
				}
				type="submit"
				class={ "button", templ.KV("is-"+string(props.Type), props.Type != ""), templ.KV("is-"+string(props.Size), props.Size != ""), templ.KV("is-fullwidth", props.IsFullwidth), templ.KV("is-loading", props.IsLoading), props.Class }
				disabled?={ props.Disabled }
				if props.AriaLabel != "" {
					aria-label={ props.AriaLabel }
				}
				if props.Title != "" {
					title={ props.Title }
				}
			>
				if props.Icon != "" {
					<span class="icon is-small">
						<i class={ props.Icon }></i>
					</span>
				}
				<span>{ props.Text }</span>
			</button>
		</form>
	} else if props.Href != "" {
		<a
			if props.ID != "" {
				id={ props.ID }
			}
			class={ "button", templ.KV("is-"+string(props.Type), props.Type != ""), templ.KV("is-"+string(props.Size), props.Size != ""), templ.KV("is-fullwidth", props.IsFullwidth), props.Class }
			href={ templ.SafeURL(props.Href) }
			if props.AriaLabel != "" {
				aria-label={ props.AriaLabel }
			}
			if props.Title != "" {
				title={ props.Title }
			}
			if props.Disabled {
				aria-disabled="true"
				tabindex="-1"
			}
		>
			if props.Icon != "" {
				<span class="icon is-small">
					<i class={ props.Icon }></i>
				</span>
			}
			<span>{ props.Text }</span>
		</a>
	} else {
		<button
			if props.ID != "" {
				id={ props.ID }
			}
			if props.IsSubmit {
				type="submit"
			} else {
				type="button"
			}
			class={ "button", templ.KV("is-"+string(props.Type), props.Type != ""), templ.KV("is-"+string(props.Size), props.Size != ""), templ.KV("is-fullwidth", props.IsFullwidth), templ.KV("is-loading", props.IsLoading), props.Class }
			disabled?={ props.Disabled }
			if props.AriaLabel != "" {
				aria-label={ props.AriaLabel }
			}
			if props.Title != "" {
				title={ props.Title }
			}
		>
			if props.Icon != "" {
				<span class="icon is-small">
					<i class={ props.Icon }></i>
				</span>
			}
			<span>{ props.Text }</span>
		</button>
	}
}

func getFormMethod(method string) string {
	if method != "" {
		return method
	}
	return "POST"
}
