package components

type ButtonGroupAlignment string

const (
	ButtonGroupLeft     ButtonGroupAlignment = "left"
	ButtonGroupCentered ButtonGroupAlignment = "centered"
	ButtonGroupRight    ButtonGroupAlignment = "right"
)

type ButtonGroupSize string

const (
	ButtonGroupSmall  ButtonGroupSize = "small"
	ButtonGroupMedium ButtonGroupSize = "medium"
	ButtonGroupNormal ButtonGroupSize = ""
)

type ButtonGroupProps struct {
	Alignment ButtonGroupAlignment
	Size      ButtonGroupSize
	Class     string
	Buttons   []templ.Component
}

templ ButtonGroup(props ButtonGroupProps) {
	<div
		class={
			"buttons",
			templ.KV("are-small", props.Size == ButtonGroupSmall),
			templ.KV("are-medium", props.Size == ButtonGroupMedium),
			templ.KV("is-centered", props.Alignment == ButtonGroupCentered),
			templ.KV("is-right", props.Alignment == ButtonGroupRight),
			props.Class,
		}
	>
		for _, btn := range props.Buttons {
			@btn
		}
	</div>
}
