package components

type EmptyStateProps struct {
	Icon        string
	Title       string
	Description string
	Action      templ.Component
	Class       string
}

templ EmptyState(props EmptyStateProps) {
	<div class={ "empty-state has-text-centered py-6", props.Class }>
		if props.Icon != "" {
			<span class="icon is-large has-text-grey-light mb-4">
				<i class={ props.Icon + " fa-3x" }></i>
			</span>
		}
		if props.Title != "" {
			<h3 class="title is-5 has-text-grey">{ props.Title }</h3>
		}
		if props.Description != "" {
			<p class="subtitle is-6 has-text-grey-light">{ props.Description }</p>
		}
		if props.Action != nil {
			<div class="buttons is-centered mt-4">
				@props.Action
			</div>
		}
	</div>
}
