package components

type PageHeaderProps struct {
	Title       string
	Subtitle    string
	Icon        string
	Breadcrumbs []Breadcrumb
	Actions     templ.Component
}

type Breadcrumb struct {
	Text   string
	Href   string
	Active bool
}

templ PageHeader(props PageHeaderProps) {
	<section class="section pt-4 pb-3">
		<div class="container">
			if len(props.Breadcrumbs) > 0 {
				<nav class="breadcrumb mb-3" aria-label="breadcrumbs">
					<ul>
						for _, bc := range props.Breadcrumbs {
							<li class={ templ.KV("is-active", bc.Active) }>
								if bc.Href != "" && !bc.Active {
									<a href={ templ.SafeURL(bc.Href) }>{ bc.Text }</a>
								} else {
									<span>{ bc.Text }</span>
								}
							</li>
						}
					</ul>
				</nav>
			}
			<div class="level is-mobile mb-0">
				<div class="level-left">
					<div class="level-item">
						<div>
							<h1 class="title is-4 mb-1">
								if props.Icon != "" {
									<span class="icon-text">
										<span class="icon has-text-primary is-small">
											<i class={ props.Icon }></i>
										</span>
										<span>{ props.Title }</span>
									</span>
								} else {
									{ props.Title }
								}
							</h1>
							if props.Subtitle != "" {
								<p class="subtitle is-6 has-text-grey mb-0">{ props.Subtitle }</p>
							}
						</div>
					</div>
				</div>
				if props.Actions != nil {
					<div class="level-right">
						<div class="level-item">
							@props.Actions
						</div>
					</div>
				}
			</div>
		</div>
	</section>
}
